body {
	background-color: #505050;
}
	/* длина основы 1420px */

.header
{
	background: #909090;
	border-radius: 7px;
	display: block;
	width: 1420px;
	height: 140px;
	padding: 20px 0;
	margin: 0 auto;
	box-shadow: 10px 10px 10px black;
	padding: 0 0 0 0;
}

.container {
	width: 1360px;
	margin: 20px auto;
}

.item {
	background: #909090;
	border-radius: 7px;
	display: block;
	float: left;
}

.book {
	margin-left: 32px;
	margin-top: 15px;
	width: 80px;
	height: 100px;
}

.towel {
	margin-left: 32px;
	margin-top: 5px;
	width: 80px;
	height: 65px;
}

.brickwall {
	margin-left: 10px;
	margin-top: 5px;
	background: url(./resources/brick.jpg);
	display: block;
	width: 120px;
	height: 70px;
}

.item:first-child img {
	margin-left: 35px;
	margin-top: 10px;
	width: 65px;
	height: 65px;
}

.item:nth-child(2) img {
	width: 1000px;
	height: 560px;
	margin: 10px 10px 10px 10px;
}

.item:first-child {
	width: 140px;
	height: 430px;
	box-shadow: 10px 10px 10px black;
}

.item:nth-child(2) {
	width: 1020px;
	height: 580px;
	box-shadow: 10px 10px 10px black;
	margin-left: 30px;
}

.item:last-child {
	width: 140px;
	height: 430px;
	box-shadow: 10px 10px 10px black;
	float: right;
}

.close {
	background: url(./resources/close.gif) no-repeat;
	background-size: 100% 100%;
	width: 34px;
	height: 34px;
	float: right;
	margin-top: 100px;
	margin-right: -35px;
}

/* * {
	border: 1px solid red;
} */

.loupe {
	margin-top: 15px;
	float: right;
}

.dayofthe42 {
	width: 440px;
	margin-top: 13px;
	margin-left: 5px;
}

.reload {
	background: url(./resources/reload.png) no-repeat;
	background-size: 100% 100%;
	width: 34px;
	height: 34px;
	float: right;
	margin-top: 4px;
	margin-right: 4px;
}

