
table {border: 1px solid grey;} 
th {border: 1px solid grey;}
td {border: 1px solid grey;}
body {
  margin: 0;
  background: #F4F1F8;
}
table {
  border-collapse: collapse; 
  line-height: 1vh;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background:  #DCECF8;
  color: #0C213B;
  width: 95vw;
  resize: both;
  overflow: auto;
}
.big
{
	font-size: 30vh;
}
caption {
  font-family: annabelle, cursive;
  font-weight: bold;
  font-size: 2vw;
  padding: 10px; 
  color: #F3CD26;
  text-shadow: 1px 1px 0 rgba(0,0,0,.3);
 }
caption:before, caption:after {
  content: "\274B";
  color: #A9E2CC;
  margin: 0 10px;
}
th {
  padding: 0vh; 
  border: 1px solid #115a3e;
  margin-left: 0;
  margin-right: 0;
}
td {
  font-size: 0.8vh;
  padding: 0.5vh 0vw 0vw 1vw;
  border: 1px solid #A9E2CC;
}
.first {
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  height: 2vh;
}
p {
	margin: 0 0 0 0;
	font-size: 1.05vh;
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 1.5vh;
}

.third {
	width: 2vw;
	font-size: 2vh;
	font-weight: bold;
	text-align: center;
	height: 2vh;
  }

.second {
  font-size: 2vh;
  font-weight: bold;
  text-align: center;
  height: 2vh;
}
/* tr, td{
	width: 100%;
  resize: both;
  overflow: auto;
} */
.elem
{
	font-family: Arial, Helvetica, sans-serifl;
	font-weight: bold;
	text-align: center;
	font-size: x-large
}